<docs>
  <repo name="qibuild">
    <sphinxdoc name="qibuild" src="doc" />
  </repo>

  <repo name="libnaoqi" >
    <doxydoc name="libalcommon" src="libalcommon/doc" />
    <doxydoc name="libalvision" src="libalvisio/doc" />
  </repo>

  <repo name="doc">
    <sphinxdoc name="doc" src="source" dest="." />
  </repo>

  <defaults>
    <root_project name="doc" />
  </defaults>

  <templates>
    <doxygen
      doxyfile="soure/tools/Doxyfile.template"
      css="soure/tools/doxygen.template.css"
      header="soure/tools/header.template.html"
      footer="soure/tools/footer.template.html"
    />
    <sphinx
      config="source/conf.py"
    />
  </templates>


</doc>
