Aldenis Garcia <agarcia@aldebaran-robotics.com>
Baptiste Marchand <bmarchand@aldebaran-robotics.com>
Chris Kilner <ckilner@aldebaran-robotics.com>
Corentin Le Molgat <clemolgat@aldebaran-robotics.com>
Cédric Gestes <ALDEBARAN\cgestes@bn-mac-po.aldebaran.lan>
Cédric Gestes <cgestes@aldebaran-robotics.com>
Cédric Gestes <gestes@aldebaran-robotics.com>
Cyrille Colette <ccollette@aldebaran-robotics.com>
Cyrille Colette <ccollette@aldebaran-robotic.com>
David Coz <dcoz@aldebaran-robotics.com>
David Gouaillier <dgouaillier@aldebaran-robotics.com>
Dimitri Merejkowsky <dmerejkowsky@aldebaran-robotics.com>
Dimitri Merejkowsky <dmerejkowksy@aldebaran-robotics.com>
Dimitri Merejkowsky <yannicklm1337@gmail.com>
Dimitri Merejkowsky <dmerejkowsky@bn-mac-po.aldebaran.lan>
Émilie Ewirbel <ewirbel@aldebaran-robotics.com>
Flora Briand <fbriand@aldebaran-robotics.com>
Grégory Rump <grump@aldebaran-robotics.com>
Guillaume Jacob <gjacob@aldebaran-robotics.com>
Guillaume Oréal <goreal@aldebaran-robotics.com>
Guillaume Schweitzer <gschweitzer@aldebaran-robotics.com>
Hervé Cuche <hcuche@aldebaran-robotics.com>
Jeanne Suchard <jsuchard@aldebaran-robotics.com>
Julien Cussot <jcussot@aldebaran-robotics.com>
Julien Frémy <jfremy@aldebaran-robotics.com>
Julien Massot <jmassot@aldebaran-robotics.com>
Laurent Lec <llec@aldebaran-robotics.com>
Lucas Souchet <lsouchet@aldebaran-robotics.com>
Manuel Rolland <mrolland@aldebaran-robotics.com>
Maxime Morisset <mmorisset@aldebaran-robotics.com>
Nicolas Garcia <ngarcia@aldebaran-robotics.com>
Nicolas Hureau <nhureau@aldebaran-robotics.com>
Patrick De Pas <pdepas@aldebaran-robotics.com>
Rémi Depond <rdepond@aldebaran-robotics.com>
Rémi Humbert <rhumbert@aldebaran-robotics.com>
Samuel Martin <smartin@aldebaran-robotics.com>
Sébastien Barthélémy <sbarthelemy@aldebaran-robotics.com>
Victor Paléologue <vpaleologue@aldebaran-robotics.com>
Vincent Meserette <vmeserette@aldebaran-robotics.com>
Jérôme Vuarand <jvuarand@aldebaran-robotics.com>
