include CONTRIBUTING.rst
include COPYING
include INSTALL.rst
include README.rst
include doc/source/man/*.rst
include etc/qibuild.sh
recursive-include cmake/qibuild *
recursive-include python/qisrc/templates *
