Source: qibuild
Section: devel
Priority: extra
Maintainer: Aldebaran Robotics <qidev@aldebaran-robotics.com>
Build-Depends: debhelper (>= 7.0.50~), cmake, python, asciidoc
Standards-Version: 3.9.1
Homepage: http://github.com/aldebaran/qibuild
Vcs-Git: git://git.github.com/aldebaran/qibuild.git

Package: qibuild
Architecture: all
Depends: ${misc:Depends}, cmake, python
Description: Compilation of C++ projects made easy
 Manages dependencies between projects and supports cross-compilation.



