[MASTER]
# Number of processes (0 for num CPU Cores, default 1)
jobs=0
# PyLint should try to emit user-friendly hints. (default: no)
suggestion-mode=yes

[FORMAT]
# Expected format of line ending, (empty, LF or CRLF, default empty)
expected-line-ending-format=LF
# Maximum number of characters on a single line. (default 100)
max-line-length=120

[REFACTORING]
# Maximum number of arguments for function / method (default 5)
max-args=10
# Maximum number of attributes for a class (see R0902). (default 7)
max-attributes=20
# Maximum number of branch for function / method body (default 12)
max-branches=25
# Maximum number of locals for function / method body (default 15)
max-locals=30
# Maximum number of statements in function / method body (default 50)
max-statements=60
# Maximum number of return / yield for function / method body (default 6)
max-returns=10
# Maximum number of public methods for a class (see R0904) (default 20)
max-public-methods=35
# Minimum number of public methods for a class (see R0903) (default 2)
min-public-methods=0

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
disable=unused-import,
        unused-argument,
        no-self-argument,
        no-name-in-module,
        import-error,
        cyclic-import,
        not-callable,
        protected-access,
        global-statement,
        duplicate-code,
        redefined-outer-name,
        broad-except,
        exec-used,
        blacklisted-name,
        fixme,
        invalid-name,

[REPORTS]
# Set the output format (text, parseable, colorized, json or msvs).
output-format=parseable
# Activate the evaluation score.
score=no
